.home-container {
  width: 99vw;
  height: 100%;
  background-color: black;
}
.column {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 20px;
  background-color: black;
}
@media only screen and (max-width: 768px) {
  .home-container {
    width: 100vw;
    padding-right: 5px;
  }
  .column {
    padding: 0px;
  }
}
