.home-container {
  width: 99vw;
  height: 100%;
  background-color: black;
}
.column {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 20px;
  background-color: black;
}
